@import "./variables.scss";
@import "./buttons.scss";
@import "./effects.scss";
@import "./reset.scss";
@import "./loginPopUp/loginPopUp.scss";
@import "./recovery_password/recoveryRequest.scss";
@import "./recovery_password/emailVerification.scss";
@import "./recovery_password/resetPassword.scss";
@import "./footer/footer.scss";
@import "./heroSlider/heroslider.scss";
@import "../pages/videoPage.scss";
@import "../pages/home.scss";
@import "./section/section.scss";
@import "../pages/admin.scss";
@import "../pages/categoryPage.scss";
@import "../components/section/section.scss";
@import "./admin_components/admin_homePage/adminHomePage.scss";
@import "./admin_components/admin_heroSlider/adminHeroSlider.scss";
@import "../pages/page404.scss";
@import "../app.scss";
@import "../components/navbar/navbar.scss";
@import "../components/admin_components/admin_videos/adminVideos.scss";
@import "../pages/registerForm.scss";
@import "../components/advert/advert.scss";
@import "../components/admin_components/admin_ad/adminAdvert.scss";
@import "../components/admin_components/admin_videos/updateVideo.scss";
@import "../components/admin_components/admin_fixtures/fixtures.scss";
@import "../components/admin_components/admin_users/adminUsers.scss";
@import "../pages/profile.scss";
@import "./buttons/buttonLogin.scss";
@import "./admin_components/admin_category/adminCategory.scss";
@import "../components/arthour/couilliere.scss";
@import "../components/admin_components/admin_videos/popupVideo.scss";
@import "../components/favorite_page/favorite.scss";
@import "../components/share/share.scss";
@import "../components/navbar/whyregisterpopup/whyregister.scss";
