.actuallyHeroSlider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 2%;
  -webkit-animation: swing-in-left-bck 0.5s ease-in-out both;
  animation: swing-in-left-bck 0.5s ease-in-out both;

  &_video {
    display: flex;
    justify-content: center;
    border-radius: 20px;

    &_player {
      margin-bottom: 2%;
      width: 100%;
      max-width: 320px;
      height: 220px;
      border-radius: 20px;
      box-shadow: 0 0 5px 1px $primary-color;
    }
  }

  &_cat,
  &_title {
    font-size: 15px;
    font-family: $font-text;
  }

  .hs_delete {
    width: 35%;
  }

  &_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 3%;

    &_inactiv {
      width: 35%;
      height: 35px;
      font-family: $font-text;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2%;
      background-color: $tertiary-color;
      border-radius: 20px;
      color: $secondary-color;
      font-size: 16px;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }

    &_activ {
      width: 35%;
      height: 35px;
      font-family: $font-text;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1%;
      background-color: $tertiary-color;
      border-radius: 20px;
      color: $secondary-color;
      font-size: 16px;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      .svg {
        rotate: -90deg;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .actuallyHeroSlider {
    &_video {
      &_player {
        height: 195px;
        max-width: inherit;
      }
    }
  }
}
