.choicehero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &_cat {
    width: 100%;

    &_name {
      font-size: 16px;
      font-family: $font-text;

      &_select {
        width: 40%;
        height: 25px;
        background-color: $fourth-color;
        color: white;
        margin-left: 10px;
        border-radius: 20px;
      }
    }
  }

  &_video {
    width: 100%;

    &_name {
      font-size: 16px;
      font-family: $font-text;

      &_select {
        width: 40%;
        height: 25px;
        background-color: $fourth-color;
        color: white;
        margin-left: 32px;
        border-radius: 20px;
      }
    }
  }

  &_btn {
    width: 40%;
    margin-left: 22%;
  }
}

@media screen and (min-width: 600px) {
  .choicehero {
    gap: 15px;

    &_btn {
      margin-left: 34%;
      width: 40%;
    }
  }
}
