@import "./titleFixtures.scss";

.fixtures-add-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.fixtures-map {
  &_btn {
    display: flex;
    margin-left: 3%;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;

    .fx_delete {
      width: 35%;
      margin-right: 2%;
    }
  }

  &_choice {
    margin-left: 3%;
  }
}
