.pub {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_link {
    height: 250px;
    border-radius: 20px;

    &_img {
      width: 100%;
      height: 250px;
      border-radius: 20px;
      object-fit: contain;
    }
  }
}
