@import "./toggle.scss";

.menu-burger.active {
  right: 0;
  opacity: 0;
  display: flex;
  animation: slideInMenu 700ms ease forwards;
}

@keyframes slideInMenu {
  0% {
    scale: 0.001;
    transform: translateY(-250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    scale: 1;
    opacity: 1;
  }
}

.menu-burger.inactive {
  opacity: 0;
  display: none;
  right: 0;
  animation: slideOutMenu 700ms ease forwards;
  transition: all 1000ms ease-in-out;
}

@keyframes slideOutMenu {
  0% {
    transform: translateY(0px);
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-250px);
    scale: 0.001;
    display: none;
  }
}

.menu-burger {
  position: absolute;
  top: 55px;
  right: 0;
  scale: 0.1;
  min-width: 120px;
  background-color: #01153dcb;
  border: 1px solid $primary-color;
  box-shadow: 0 0 6px 0px rgba(255, 255, 255, 0.509);
  padding: 10px;
  border-radius: 20px;
  flex-direction: column;
  gap: 20px;
  z-index: 1001;

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btn {
      font-family: $font-text;
      font-size: 1.8rem;
      width: fit-content;
      height: 30px;
      border-radius: 15px;
      padding: 10px;
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
      color: white;
    }

    .btn-login {
      background-color: rgb(116, 192, 2);
      cursor: pointer;

      .login-icon {
      }
    }

    .btn-logout {
      background-color: rgb(192, 2, 2);
      cursor: pointer;

      .logout-icon {
      }
    }

    .btn-signin {
      background-color: $tertiary-color;
      cursor: pointer;

      .signin-icon {
      }
    }

    .btn-why-signin {
      background-color: rgb(142, 92, 11);
      padding-block: 0;
      height: 20px;
      font-size: 1rem;
      cursor: pointer;

      p {
        margin-top: 3px;
      }

      .why-signin-icon {
      }
    }

    .btn-admin-panel {
      background-color: rgb(2, 132, 192);
      cursor: pointer;
    }

    .profile-favorites-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .btn-profil-image-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .btn-profil {
          background-color: rgb(2, 132, 192);
          cursor: pointer;
        }

        img.img-avatar-profil {
          height: 30px;
          border-radius: 15px;
        }
      }
    }
  }
}
